/.eclipse.templates
/bin
/c++
/conf
/contrib
/docs
/ivy
/lib
/libexec
/sbin
/share
CHANGES.txt
hadoop-ant-1.2.0.jar
hadoop-client-1.2.0.jar
hadoop-test-1.2.0.jar
hadoop-tools-1.2.0.jar
LICENSE.txt
NOTICE.txt
README.txt